.Button {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  font-size: 1rem;
  font-weight: bold;
  width: 175px;
  margin: 1rem 0;
}

.Button.PrimaryButton {
  background: lightskyblue;
}

.Button:hover {
  cursor: pointer;
}

.Button.PrimaryButton:hover {
  background: lightsteelblue;
}
