.home section {
  margin: auto;
  text-align: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.home h1 {
  text-align: center;
  background-color: lightskyblue;
  padding: 2rem;
  margin: 0;
}

.home p,
.token label {
  font-size: 1.2rem;
}

.token input {
  padding: 10px 20px;
  text-align: center;
  font-size: 1rem;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

.token button.joinExistingList {
  width: 210px;
}
