.NavBar {
  margin: 2em;
  display: flex;
  position: fixed;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  right: 0;
}

.NavBar a {
  color: black;
  text-decoration: none;
}

.nav-selected {
  font-weight: 900;
}
