.NavBar {
  margin: 2em;
  display: flex;
  position: fixed;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-selected {
  font-weight: 900;
  transform: scale(1.1);
}

.NavBar .Button {
  width: 30%;
  max-width: 175px;
}

@media only screen and (max-width: 540px) {
  .NavBar .Button {
    font-size: 0.82rem;
  }
}
